<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta online  </title>
    <link rel="stylesheet" href="{% static 'homeApp/css/style.css'%}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>

<body>
    <!-- Header  -->
    <header class="header">
        <div class="container">
            <div class="logo">
                <img src="{% static 'homeApp/img/logoW.webp' %}" alt="logo"">
            </div>
            

            <nav class="nav">
                <a href="#inicio" class="nav-link active">Inicio</a>
                <a href="#nosotros" class="nav-link">Nosotros</a>
                <a href="#contacto" class="nav-link">Contacto</a>
            </nav>
            
            <!--botones para iniciar secion o registrarse-->
            <div class="header-buttons">
                <!--se utiliza para conectar las rutas de login y register-->
                <a href="{% url 'cuenta:login'%}">
                    <button class="btn btn-outline">Iniciar Sesión</button>
                </a>
                
                <a href="{% url 'registro' %}" class="btn btn-primary">Registrarse</a>
            </div>
        </div>
    </header>

    <!-- Sección principal -->
    <main>
        <!-- Hero Section -->
        <section id="inicio" class="hero">
            <div class="container">
                <div class="hero-content">
                    <h1 class="hero-title">Cuidado especializado para tus oídos, nariz y garganta. Atención de calidad garantizada</h1>
                    <p class="hero-subtitle">Brindamos atención médica de calidad a nuestros Pacientes</p>

                    <!-- Boton de agendar cita-->
                    <button class="btn btn-primary btn-large">Agendar Cita</button>
                </div>
            </div>
        </section>

        <!-- Información de la Clínica -->
        <section id="nosotros" class="about">
            <div class="container">
                <h2 class="section-title">Nuestra Consulta</h2>
                <div class="about-grid">
                   <div class="about-card">
                        <i class="fas fa-user-md"></i>
                        <h3>Doctor Constanzo</h3>
                        <img src="{% static 'homeApp/img/doctorconstanzo.jpg' %}" alt="Doctor Constanzo" class="about-img">
                        <p>Especialista en Otorrinolaringología con más de 30 años de experiencia.</p>
                    </div>
                    <div class="about-card">
                        <i class="fas fa-hospital"></i>
                        <h3>Consulta</h3>
                        <img src="{% static 'homeApp/img/ubicacionconsulta.jpg' %}" alt="Consulta" class="about-img">
                        <p>Encuéntranos en el edificio Plaza Real oficina 504 Torre Flamenco.</p>
                    </div> 
                    
                    <div class="about-card">
                        <i class="fas fa-microscope"></i>
                        <h3>Tecnología</h3>
                        <img src="{% static 'homeApp/img/instrumentosW.webp' %}" alt="microscopio" class="about-img">
                        <p>Contamos con las herramientas mas adecuadas para su revisión.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Contacto y Ubicación -->
        <section id="contacto" class="contact">
            <div class="container">
                <h2 class="section-title">Contacto y Ubicación</h2>
                
                <div class="contact-grid">
                    <div class="contact-info">
                        <h3>Información de Contacto</h3>
                        
                        <div class="contact-item">
                            <i class="fas fa-map-marker-alt"></i>
                            <div>
                                <strong>Dirección</strong>
                                <p>Colipi 484, Plaza Real, Torre Flamenco Oficina 504 5to piso<br>Copiapó, Atacama</p>
                            </div>
                        </div>
                        
                        <div class="contact-item">
                            <i class="fas fa-phone"></i>
                            <div>
                                <strong>Teléfono</strong>
                                <p>+52 2230896</p>
                            </div>
                        </div>
                        
                        
                        <div class="contact-item">
                            <i class="fas fa-clock"></i>
                            <div>
                                <strong>Horarios</strong>
                                <p>De lunes a jueves: 10:30 am - 01:00 pm y 03:00 pm - 07:00 pm</p>
                                <p>Viernes: 10:30 am - 01:00 pm</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="map-container">
                        <div class="map-placeholder">
                            <i class="fas fa-map"></i>
                            <p>Mapa de Ubicación</p>
                            <a href="https://www.google.com/maps/place/27°22'01.5%22S+70°19'53.3%22W/@-27.3670883,-70.3314819,17z/data=!3m1!4b1!4m4!3m3!8m2!3d-27.3670883!4d-70.3314819?entry=ttu&g_ep=EgoyMDI1MDkwNy4wIKXMDSoASAFQAw%3D%3D" target="_blank" class="btn btn-primary" style="margin-top:10px;">
                                Ver en Google Maps
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer simple -->
    <footer class="footer">
        <div class="container">
            <div class="footer-content">
                <div class="footer-logo">
                    <img src="{% static 'homeApp/img/logoW.webp' %}" alt="logo"">
                </div>
                
                <div class="footer-links">
                    <a href="#inicio">Inicio</a>
                    <a href="#nosotros">Nosotros</a>
                    <a href="#contacto">Contacto</a>
                </div>
                
            
            </div>
            
            <div class="footer-bottom">
                <p>&copy; 2025 Clínica Doctor Constanzo . Todos los derechos reservados.</p>
            </div>
        </div>
    </footer>

</body>
</html>